<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <p class="fs-5">
          I'm <strong>Badr EL HABBASSI</strong>, a Computer Science engineering student in my second year at <strong>ENSEIRB-MATMECA Bordeaux</strong>.  
          Passionate about data processing, cybersecurity, and machine learning, I am always eager to tackle new challenges and innovate through technology.
        </p>
        <p class="text-muted">
          My goal is to leverage my skills in software development, database management, and machine learning to solve complex problems and contribute to impactful projects.
        </p>
      </div>
    </div>
  
    <div class="row justify-content-center mt-4">
      <div class="col-auto">
        <a  class="btn btn-primary btn-lg" target="_blank" rel="noopener noreferrer">
          View My Resume
        </a>
      </div>
    </div>
  </div>
  