<div class="card shadow text-center" style="max-width: 350px; min-width: 350px;">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.description}}</p>
        <button class="btn btn-primary" >View More</button> <!-- To Link it with github-->
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.footer" [ngStyle]="{'background-color': tag.getColor()}" class="tag me-2 mb-1">{{tag.getKey()}}</div>
        </div>
    </div>
</div>